<%
page.comment_title = '';
page.header = false;
page.robots = 'none';
%>
<article class='md-text error-page'>
  <h1><img id='error' src='<%- theme.style.error_page %>' alt='404'></h1>
  <p class='what'>
    <strong>
      <%- __('page.error.what') %>
    </strong>
  </p>
  <p class='why'>
    <%- __('page.error.why') %>
  </p>
  <br><br>
  <a class='button' id='back' href="<%- config.root %>"><%- __('page.error.action') %></a>
</article>
<%- partial('_partial/comments/layout') %>
