<%
page.robots = 'noindex,follow';
if (page.menu_id == undefined) {
  page.menu_id = 'post';
}
%>
<% if (site.categories.length) { %>
  <% page.title = __('btn.categories'); %>
  <% page.layout = 'categories'; %>
  <%- partial('_partial/main/navbar/list_post') %>
  <div class='post-list'>
    <article class='<%- scrollreveal() %>' id='cats'>
      <% var list = []
      site.categories.sort('path').each(function(category){ 
        var data = {
          name: category.name,
          url: url_for(category.path),
          badge: category.posts.length,
          class: category.parent
        }
        list.push(data)
      %>
    <% })
    function getlengeth(params) {
        const charCount = params.split('').reduce((prev, curr) => {
        if (/[a-z]|[0-9]|[,;.!@#-+/\\$%^*()<>?:"'{}~]/i.test(curr)) {
          return prev + 1
        }
          return prev + 2
        }, 0)
          return Math.ceil(charCount / 2)
      }
      %>
      <% list.sort((a, b) => getlengeth(a.name) - getlengeth(b.name)).forEach(category => { %>
        <div>
          <a class="<%= category.class ? 'cat child' : 'cat'%>" href="<%= category.url %>">
            <span class='name'><%- category.name %></span>
            <span class='badge'>(<%- category.badge %>)</span>
          </a>
        </div>
    <%})%>
    </article>
  </div>
<% } %>
