<!DOCTYPE html>
<html lang='<%- page.lang %>'>
<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/cover/index') %>
  <div class='l_body' id='start'>
    <aside class='l_left' layout='<%- page.layout %>'>
    <%- partial('_partial/sidebar/index') %>
    </aside>
    <div class='l_main<%- page.content ? "" : " list" %>'>
      <%- partial('_partial/main/header/index') %>
      <%- body %>
      <%- partial('_partial/main/footer') %>
      <%- partial('_partial/menubtn') %>
    </div>
  </div>
  <div class='scripts'>
    <%- partial('_partial/scripts/index') %>
  </div>
  <!--动态线条背景-->
  <!-- <script type="text/javascript"
  color="220,220,220" opacity='0.7' zIndex="-2" count="200" src="//cdn.bootcss.com/canvas-nest.js/1.0.0/canvas-nest.min.js">
  </script> -->
  <!-- 下雪效果，代码来自 https://github.com/wanglin2/snow -->
  <!-- <script src="https://raw.githubusercontent.com/shaoyaoqian/snow/main/dist/bundle.js"></script> -->
  <!-- <script src="http://localhost:4000/js/plugins/friends.js"></script> -->
  <script src="https://qiniu.pengfeima.cn/blog-assets/snow-4.js"></script>
</body>
</html>
