<!DOCTYPE html>
<html lang='<%- page.lang %>'>
<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/main/article/wiki_cover') %>
  <div class='l_body' id='start'>
    <aside class='l_left' layout='<%- page.layout %>'>
    <%- partial('_partial/sidebar/index') %>
    </aside>
    <div class='l_main<%- page.content ? "" : " list" %>'>
      <%- partial('_partial/main/header/index') %>
      <%- body %>
      <%- partial('_partial/main/footer') %>
      <%- partial('_partial/menubtn') %>
    </div>
  </div>
  <div class='scripts'>
    <%- partial('_partial/scripts/index') %>
  </div>
</body>
</html>
