<!DOCTYPE html>
<html lang='<%- page.lang %>'>
<%- partial('_partial/head') %>
<body>
  <div id='cover'>
    <%- partial('_partial/cover/index') %>
  </div>
  <div class='l_body' id='start'>
    <aside class='l_left' layout='<%- page.layout %>'>
    <%- partial('_partial/sidebar/index') %>
    </aside>
    <div class='l_main<%- page.content ? "" : " list" %>'>
      <%- partial('_partial/main/header/index') %>
        <main id="main_body">
          <%- body %>
        </main>
      <%- partial('_partial/main/footer') %>
      <%- partial('_partial/menubtn') %>
    </div>
  </div>
  <div class='scripts'>
    <%- partial('_partial/scripts/index') %>
    <%- partial('_partial/plugins/pjax') %>
    <%- partial('_partial/plugins/aplayer') %>
  </div>
</body>
</html>
