<% if ((page.h1 && page.h1.length > 0) || (page.content && page.content.length > 0)) { %>
  <%- partial('_partial/navbar/breadcrumb') %>
  <article class='content md <%- page.layout %> reveal'>
  <% if (page.h1 && page.h1.length > 0) { %>
    <h1 class='article-title'><span><%- page.h1 %></span></h1>
  <% } %>
  <% if (page.content && page.content.length > 0) { %>
    <%- page.content %>
  <% } %>
  </article>
<% } %>
<%- partial('_partial/plugins/comments/layout') %>
