<%
if (page.menu_id == undefined) {
  page.menu_id = 'post';
}
if (page.header == undefined) {
  page.header = 'auto';
}
function layoutTitle() {
  const title = page.h1 || page.title;
  if (title && title.length > 0) {
    return '<h1 class="article-title"><span>' + title + '</span></h1>';
  } else {
    return '';
  }
}
let post = page;
let heti = '';
if (theme.plugins.heti && theme.plugins.heti.enable) {
  heti = ' heti';
}
%>
<% if (page.mathjax == true){ %>
    <%- partial('mathjax') %>
<% } %>
<%- partial('_partial/main/navbar/breadcrumb') %>
<article class='md-text content<%- heti %> <%- post.layout %><%- post.indent ? ' indent' : '' %><%- scrollreveal() %>'>
<%- layoutTitle() %>
<%- post.content %>
<%- partial('_partial/main/article/article_footer') %>
</article>
<%- partial('_partial/main/article/read_next') %>
<%- partial('_partial/main/article/related_posts') %>
<%- partial('_partial/plugins/comments/layout') %>
