<%
if (page.menu_id == undefined) {
  page.menu_id = 'post';
}
if (page.header == undefined) {
  page.header = false;
}
function layoutTitle() {
  const title = page.h1 || page.title;
  if (title && title.length > 0) {
    return '<h1 class="article-title"><span>' + title + '</span></h1>' + 
      '<span style="font-size: 13px; color: grey;">' + 
        '本站字数：' + totalcount(site) + '&nbsp;&nbsp;&nbsp;&nbsp;' + 
        '本文字数：' + wordcount(post.content) + '&nbsp;&nbsp;&nbsp;&nbsp;' + 
        '预计阅读时长：' + min2read(post.content) + 'min' + '&nbsp;&nbsp;&nbsp;&nbsp;' + 
        '访问次数：' + '<span id="busuanzi_value_page_pv"></span>' + '次' +
      '</span>';
  } else {
    return '';
  }
}
let post = page;
let heti = '';
if (theme.plugins.heti && theme.plugins.heti.enable) {
  heti = ' heti';
}
%>
<%- partial('_partial/main/navbar/breadcrumb') %>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<article class='content<%- heti %> md <%- post.layout %><%- post.indent ? ' indent' : '' %><%- scrollreveal() %>'>
<%- layoutTitle() %>
<%- post.content %>
<%- partial('_partial/main/article/article_footer') %>
</article>
<%- partial('_partial/main/article/read_next') %>
<%- partial('_partial/main/article/related_posts') %>
<%- partial('_partial/plugins/comments/layout') %>
