<%
if (page.class == undefined) {
  page.class = 'post';
}
if (page.header == undefined) {
  page.header = false;
  console.log('header = false');
}
%>
<% let post = page; %>
<%- partial('_partial/main/navbar/breadcrumb') %>
<article class='content md <%- post.layout %> reveal'>
<h1 class='article-title'><span><%- post.h1 || post.title %></span></h1>
<%- post.content %>
</article>
<%- partial('_partial/main/article/references') %>
<%- partial('_partial/main/article/read_next') %>
<%- partial('_partial/main/article/related_posts') %>
<%- partial('_partial/plugins/comments/layout') %>
