<%
page.robots = 'noindex,follow';
if (page.menu_id == undefined) {
  page.menu_id = 'post';
}
%>
<% if (site.tags.length) { %>
  <% page.title = __('btn.tags'); %>
  <% page.layout = 'tags'; %>
  <%- partial('_partial/main/navbar/list_post') %>
  <div class='post-list'>
    <h1 class='list-title h4'><%- __('page.tags', config.title, __('btn.blog'), site.tags.length) %></h1>
    <article class='post-card<%- scrollreveal() %>' id='tags'>
      <% site.tags.sort('length', -1).each(function(tag){ %>
        <a class='tag' href="<%= url_for(tag.path) %>">
          <span class='name fs14'><%= tag.name %></span>
          <span class='badge fs12'>x<%- tag.length %></span>
        </a>
      <% }) %>
    </article>
  </div>
<% } %>
