<%
if (page.menu_id == undefined) {
  page.menu_id = 'post'
}
if (page.title == undefined) {
  page.title = __('btn.topic')
}
function layoutTitle() {
  const title = page.h1 != null ? page.h1 : page.title;
  if (title && title.length > 0) {
    return '<h1 class="article-title"><span>' + title + '</span></h1>';
  } else {
    return '';
  }
}
%>

<%- partial('_partial/main/navbar/breadcrumb') %>
<article class='md-text content <%- page.layout %><%- page.indent ? ' indent' : '' %><%- scrollreveal() %>'>
<%- layoutTitle() %>
<%- markdown(page.content) %>
<% if (theme.plugins.tianli_gpt.enable && ['all', 'topic'].includes(theme.plugins.tianli_gpt.field)) { %>
<%- partial('_partial/plugins/ai/tianli_gpt') %>
<% } %>
<%- partial('_partial/main/article/article_footer') %>
</article>
<%- partial('_partial/main/article/read_next') %>
<%- partial('_partial/plugins/comments/layout') %>