<%
if (page.menu_id == undefined) {
  page.menu_id = 'wiki';
}
if (page.layout == undefined) {
  page.layout = 'wiki_index';
}
if (page.title == undefined) {
  if (page.tagName) {
    page.title = page.tagName;
  } else {
    page.title = __('btn.wiki');
  }
}
function layoutTitle() {
  const title = page.h1 || page.title;
  if (title && title.length > 0) {
    return '<h1 class="article-title"><span>' + title + '</span></h1>';
  } else {
    return '';
  }
}
%>
<% if (page.layout === 'wiki_index') { %>
  <%- partial('index') %>
<% } else { %>
  <%
  if (page.header == undefined) {
    page.header = 'auto';
  }
  %>
  <%- partial('_partial/main/navbar/breadcrumb') %>
  <article class='md-text content <%- page.layout %><%- scrollreveal() %>'>
  <%- layoutTitle() %>
  <%- page.content %>
  <%- partial('_partial/main/article/article_footer') %>
  </article>
  <%- partial('_partial/main/article/read_next') %>
  <%- partial('_partial/plugins/comments/layout') %>
<% } %>
