<%
if (page.class == undefined) {
  page.class = 'wiki';
}
if (page.layout == undefined) {
  page.layout = 'index';
}
if (page.title == undefined) {
  page.title = 'Wiki';
}
%>
<% if (page.layout == 'index') { %>
  <%- partial('index') %>
<% } else { %>
  <%
  if (page.header == undefined) {
    page.header = false;
  }
  %>
  <%- partial('_partial/main/navbar/breadcrumb') %>
  <article class='content md <%- page.layout %>'>
  <h1 class='article-title'><span><%- page.h1 || page.title %></span></h1>
  <%- page.content %>
  </article>
  <%- partial('_partial/main/article/read_next') %>
  <%- partial('_partial/plugins/comments/layout') %>
<% } %>
